header {
    position: fixed;
}
.main-div {
    margin: 50px auto 70px 140px;
}
.howto {
    height: 95px;
    width: 122px;
    margin-right: 680px;
}
ul {
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
}
li {
    display: inline-block;
    margin-right: 50px;
}
.explore {
    margin-left: 20px;
    margin-right: 60px;
}
.nav-ul li a {
    font-size: 20px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #707070;
}
.search {
    height: 27px;
    width: 27px;
    margin-left: 90px;
    vertical-align: top;
    margin-top: 27px;
}
.cover {
    height: 613px;
    width: 1620px;
    object-fit: cover;
    margin-top: 210px;
    margin-bottom: 140px;
}
h3 {
    font-size: 40px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #707070;
    margin-bottom: 70px;
}
.flex {
    display: flex;
}
.img-p {
    height: 300px;
    width: 480px;
    object-fit: cover;
}
h4 {
    font-size: 30px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #707070;
    margin: 30px auto 30px 10px;
} 
.more {
    font-size: 24px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #707070;
    float: right;
    margin-top: 87px;
    margin-right: 13px;
    margin-bottom: 40px;
}
.popular-p div, .last-added div {
    height: 564px;
    width: 480px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1607843137254902 );
    margin-right: 90px;
}
.popular-p p, .last-added p {
    font-size: 18px;
    font-family: 'Pierre Dingbats', sans-serif;;
    color: #707070;
    margin-left: 10px;
}
.popular-p div {
    margin-bottom: 60px;
}
.load-more {
    font-size: 30px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #707070;
    margin-left: 720px;
    border-bottom: 2px solid #707070;
}
.last-added h3 {
    margin-top: 70px;
}
footer {
    height: 207px;
    width: 100%;
    background-color: #2E2E2E;
    padding: 60px 140px;
    display: flex;
}
.howto-2 {
    height: 95px;
    width: 122px;
    margin-right: 380px;
}
.contact {
    margin-top: 7px;
    margin-right: 370px;
    font-size: 20px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #f2f2f2;
}
.contact a {
    font-size: 13px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #f2f2f2;
}
.address {
    margin-top: 7px;
    margin-right: 300px;
    font-size: 20px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #f2f2f2;
}
.address a {
    font-size: 13px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #f2f2f2;
}
.fbsta {
    margin-top: 20px;
}

@media only screen and (max-width: 320px) {
    .main-div {
        margin: 0px;
    }
    .howto {
        height: 35.86px;
        width: 46.04px;
        margin-top: 13px;
        margin-right: 200px;
        margin-left: 25px;
    }
    ul {
        display: none;
    }
    .search {
        height: 13.5px;
        width: 13.69px;
        margin-left: 0px;
        margin-top: 15px;
    }
    .cover {
        height: 253px;
        width: 100%;
        margin-top: 70px;
        margin-bottom: 90px;
    }
    h3 {
        font-size: 15px;
        margin-bottom: 35px;
        margin-left: 78px;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    .none{
        display: none;
    }
    .img-p {
        height: 144px;
        width: 245.92px;
        object-fit: cover;
    }
    h4 {
        font-size: 15px;
        margin: 15px auto 20px 5px;
    } 
    .more {
        font-size: 11px;
        margin-top: 45px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .popular-p div, .last-added div {
        height: 286.65px;
        width: 245.92px;
        margin-right: 0px;
        margin-left: 37px;
        margin-bottom: 30px;
    }
    .popular-p p, .last-added p {
        font-size: 8px;
        margin-left: 5px;
    }
    .popular-p div {
        margin-bottom: 30px;
    }
    .load-more {
        font-size: 9px;
        margin-left: 140px;
        border-bottom: 2px solid #707070;
    }
    .last-added h3 {
        margin-top: 70px;
    }
    footer {
        height: 241px;
        width: 100%;
        background-color: #2E2E2E;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .howto-2 {
        display: none;
    }
    .contact {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .address {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .fbsta {
        height: 16.91px;
        width: 46.94px;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
}